<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Login</title>

    

    

    <!-- Bootstrap core CSS -->
    
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
       }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    
 <main class="form-signin text-center shadow-lg p-3 mb-3">
  <form id="formlogin" action="/login" method="POST">
    <p class="h3 mb-3 fw-normal">INFOSYS</p>
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating was-validated mb-2">
      <input type="text" class="form-control" id="user" name="user" placeholder="User" required>
      <div class="invalid-feedback">Favor de llenar el campo.</div>
      <label for="user">User</label>
    </div>
    <div class="form-floating was-validated mb-3">
      <input type="password" class="form-control" id="pass" name="pass"  placeholder="Password" required>
      <div class="invalid-feedback">Favor de llenar el campo.</div>
      <label for="pass">Password</label>
    </div>

    
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Login</button>
   
  </form>
  <br>
  <a type="button" href="/register" class="w-100 btn btn-lg btn-primary">Registrarse</a>
  <br>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
 </main>


 <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
